<h1>Stupid Coaching</h1>

<figure>
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">You</cite>
  </figcaption>
</figure>

<figure>
  <blockquote class="blockquote coach">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Your Coach</cite>
  </figcaption>
</figure>

<%= link_to "Go back to ask page", "/ask" %>
